home-page {
  .tabs-md .tab-button:nth-child(2) .tab-button-icon {
    color: #ffffff; 
  }
  
  .tabs-md .tab-button:nth-child(2) {
    color: #ffffff; 
    background-color: color($colors, primary);
  }
}
